<footer>
    <div class="all-footer-wrapper">
      <div  class="logo-footer-wrapper">
        <img class="logo-footer" src="./assets/images/Logo White.png" alt="">
        <div class="logo-footer-right" >
          <a href=""><img src="./assets/icons/MAIL ICON.svg" alt=""></a>
          <a href=""><img src="./assets/icons/PHONE ICON.svg" alt=""></a>
        </div>
      </div>
      <div class="list-wrapper">

        <div class="big-list-wrapper-footer">
          <h4>Product</h4>
          <div class="small-list-wrapper-footer">
            <a href="">Coffee Based</a>
            <a href="">Non-coffee</a>
            <a href="">Tea Based</a>
          </div>
        </div>
        <div class="big-list-wrapper-footer">
          <h4>Store</h4>
          <div class="small-list-wrapper-footer">
            <a href="">Location</a>
          </div>
        </div>
        <div class="big-list-wrapper-footer">
          <h4>Contact</h4>
          <div class="small-list-wrapper-footer">
            <a href="">Customer Service</a>
          
          </div>
        </div>
      </div>
      
    </div>
    <p class="copyright">2022 © Designed by Progate Indonesia</p>
</footer>